body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Container */
.group {
    text-align: center;
}

/* Checkmark */
.checkmark {
    font-size: 120px;
    color: #1cab1c;
    margin-bottom: 30px;
    opacity: 0;
    transform: scale(0.5);
    animation: popIn 0.5s forwards;
    
}

@keyframes popIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Message */
.message {
    font-size: 32px;
    font-weight: bold;
    font-family: noto sans, sans-serif;
}

/* Optional subtitle */
.subtitle {
    margin-top: 10px;
    font-size: 20px;
    color: #a7a7a7;
    font-family: space mono, monospace;
}

/* starting state */
.group{
    opacity: 0;
    filter: blur(6px);
}
/* glitch animation */
.group.show {
    animation: glitchFade 0.9s forwards;
}

@keyframes glitchFade {

    0% {
        opacity: 0;
        transform: translateX(0);
        filter: blur(6px);
    }

    10% {
        opacity: 0.3;
        transform: translateX(-8px);
    }

    20% {
        transform: translateX(8px);
    }

    30% {
        opacity: 0.5;
        transform: translateX(-5px);
        filter: blur(4);
    }

    40% {
        transform: translateX(5px);
    }

    55% {
        transform: translateX(-2px);
        
    }

    70% {
        transform: translateX(2px);
    }

    85% {
        transform: translateX(0);
        filter: blur(2);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}
