p { /* style overrides for the browser*/
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate; /*stuff inside p wont affect outside */
}

html, body{
    overflow: hidden;
}

body {
    height: 100vh; /* viewport height */
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Space Mono', monospace;
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    display: flex;
    padding: 30px 600px 30px 30px;
    margin-top: 40px;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    letter-spacing: 2px;
}

.frame{
    display: flex;
    justify-content: center; /*for horizontal c? */
    align-items: center; /* for vertical c? */
    height: 380px;
    width: 380px;
    position: relative; /* relative ties it with .frame if not relative gonna be relative to the whole page*/
    margin: auto;
    z-index: 1;
}

.progress-outline{ /* how do i get this to show up UPDATE: it worked once i added in the <p> WHY???*/
    border: 3px solid white;
    padding: 30px;
    box-sizing: border-box;
}

.progress{
    width: 1000px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
}

.block{
    flex-grow: 1;
    width: 100%;
    height: 44px;
    margin: 3px;
    background: transparent;
    position: relative;
    box-sizing: border-box;
}

.block::before{
    position:absolute;
    content: "";
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
}

.text{ /* im stupid how to get this and number to be on the same level*/
    color: white;
    font-size: 20px;
   
}

.number{
    color: white;
    font-size: 60px;
}

.hit-notes {
    position: absolute; /* fits it in .frame */ 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.note {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
    animation: shrink 2s linear forwards;
}

@keyframes shrink {
    0% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 1;
    }
}

.text-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; /* compressed way add padding */

}



/*
.block:last-child::before{
    display: none;
}
.progress::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    width: 0;
    height: 20px;
    background: yellow;
    animation: progress s forwards infinite;
}

@keyframes progress{
    to{
        width: calc(100% - 4px);
    }
}
*/

/* starting state */
#page-container {
    opacity: 0;
    filter: blur(6px);
}

/* glitch animation */
#page-container.show {
    animation: glitchFade 0.9s forwards;
}

@keyframes glitchFade {

    0% {
        opacity: 0;
        transform: translateX(0); /* x horizontal */
        filter: blur(6px);
    }

    10% {
        opacity: 0.3;
        transform: translateX(-8px);
    }

    20% {
        transform: translateX(8px);
    }

    30% {
        opacity: 0.5;
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    55% {
        transform: translateX(-2px);
        filter: blur(2px);
    }

    70% {
        transform: translateX(2px);
    }

    85% {
        transform: translateX(0);
        filter: blur(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}


